<div class="container" style="background-color: #F2F3F4;border-radius: 5px">
	<h1 style="text-align: center">Bienvenido a su panel de administración</h1>

	<div style="text-align: center">
		<img src="app/assets/images/oleohidraulica-tolvar-logo.png">
	</div>
	<div class="container-fluid" style="text-align: center;">
		<%= image_tag("oleohidraulica-tolvar-logo.png", :alt => "logo tolvar") %> <br>
	</div> 
</div>
