
<div class="container-fluid">
	<div class="row">
		<h1>Nuevo Presupuesto</h1>

		<%= render 'form', budget: @budget %>

		<%= link_to 'Volver', budgets_path, data: { confirm: "Se perderán los cambios ¿Está seguro?" } %>
	</div>
</div>