<div class="container-fluid">
 <div class="row">
  <h1>Editar Cliente</h1>

  <%= render 'form', customer: @customer %>

  <%= link_to 'Volver', customers_path, class: "btn btn-default"%>

 </div>
</div>