<div class="container-fluid">
 <div class="row">
  <h1>Editar Recordatorio</h1>

  <%= render 'form', recordatorio: @recordatorio %>

  <%= link_to 'Volver', recordatorios_path , class: "btn btn-default"%>

 </div>
</div>