	
	<div class="container-fluid">
		<h1>Oops!!...</h1>
		<%= image_tag("en_construccion.jpg", :alt => "under constrution") %> <br>
		<%= link_to 'Volver', root_path, style: "color: white", class: "btn btn-danger" %>
	</div>